조건문

조건문에는 반드시 비교연산자가 필요하다.

조건문은 어떠한 조건을 판별하는 기준을 만드는 것

판별하는 기준 > 비교연산자 

ex) <,>,===...

    3 < 6 ; // false

    9 < 20; // true

    'hello' === 'world'; /// false

비교의 결과는 늘 Boolean, 즉 true와 false로 구별된다.

비교연산자종류

<(초과),>(미만),<=(이상),>=(이하),===(같다),!==(다르다)

단, == 과 != 는 사용하지 않는다. 이러한 연산자는 각각 같다와 다르다의 의미는 있지만 엄격히 구분하지 않는다.

엄격히 구분한다란 자료형의 일치까지 구분하는지를 의미한다.

이는 예외케이스가 많다는 걸 의미한다.

조건문의 양식

조건문은 다음과 같이 쓸 수 있다.

if (조건1) {
    //조건1이 통과할 경우
} else if (조건2) {
    //조건1이 통과하지 않고
    //조건2가 통과할 경우
} else {
    //모든 조건이 통과하지 않는 경우
}

조건에는 boolean이 결과로 나오는 비교구문이 들어감

두가지 조건이 한번에 적용되는 경우는 논리연산자를 사용

논리연산자란 &&(and), ||(or), !(not, truthy, falsy 여부를 반전시킴)

ex) !false // true
    !(3>2) // false
    true || true // true
    true || false // true
    false || false // false
    true && true // true
    true && false // false
    false && false // false
    !undefined // true (undefined는 할당되지 않은값, falsy한 값이다.)
    !'Hello' // false (모든 문자열은 truthy한 값이다.)

6가지의 falsy값
1) false
2) null
3) undefined
4) 0
5) NaN
6) ''

위의 경우가 조건문에 있으면 false로 취급된다.



