#greeting {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  /* border: 2px solid #ccc; */
  border-radius: 1em;
  color: white;
  /* background-color: #eee; */
  text-shadow: 0 0 5px #333;
  text-align: center;
  margin: 0.5em;
  padding: 0.5em;
  flex-grow: 0.1;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#infobox {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 148, 221);
  padding: 0.5em;
  flex-grow: 1;
  color: white;
}

#footer {
  background-color: gray;
  flex-grow: 2.5;
  display: flex;
  flex-direction: column;
}

.makeMargin {
  margin: 0.5em;
}

.makeSmallMargin {
  padding: 0.5em;
}

.makeMarginBottom {
  margin-bottom: 0.7em;
}

#submitButton {
  width: 8%;
  flex-basis: 4.5em;
}

#refreshZone {
  background-color: rgb(51, 10, 236);
  flex-basis: 3em;
  padding: 1em;
}

#refreshButton {
  width: 15%;
  height: 100%;
}

.forCenter {
  /* margin: 1em; */
  height: 100%;
  width: 100%;
}

.refreshImage {
  max-width: 1em;
  max-height: 1em;
}

.listItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

ul {
  list-style: none;
}

#listZone {
  padding: 0;
  margin: 1.5em;
}

.tweetUser {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a:hover {
  color: aqua;
}