.bor_red{
    border: 1px solid red ;
}

.bor_orn{
    border: 1px dotted orange;
    margin: 5px;
    flex-basis: 30px;
}

.bor_blu{
    border: 1px dotted blue;
    margin: 5px;
}

body{
    display: flex;

}

#section1{
    margin: 1px;
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
}

#section2{
    margin: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#section3{
    margin: 1px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}